/* 加载引用 CSS */
@import "~css/modules/base";

/* 加载小于8k图片 */
.page {
    font-size: 12px;
    background: url('~images/top_menu_icon3.png');
}

/* 加载大于8k图片 */
.images {
    background: url('~images/login_bg.jpg');
}
